{% extends 'platform/base.html' %}
{% load static %}

{% block loadStyles %}
<link rel="stylesheet" href="{% static "platform/css/test-theme-1/style.css" %}">
{% endblock loadStyles %}

{% block content %}
<div class="content">

    <form action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}

        <div id="carouselQuestions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false"
            data-bs-wrap="false">
            <div class="carousel-indicators">
                {% if questions %}
                {% for question in questions %}
                <button type="button" data-bs-target="#carouselQuestions" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %}class="active"{% endif %} 
                    aria-current="true" aria-label="Slide 1"></button>
                {% endfor %}
                {% endif %}
            </div>
            <div class="carousel-inner">
                {% if questions %}
                {% for question in questions %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %} position-relative">
                    <input type="hidden" name="question-{{question.pk}}" value="-1">
                    <img src="{% static "platform/img/test-theme-1/paper.jpg" %}" class="d-block w-100" alt="...">
                    <div class="question">
                        <p class="question-header">Дело номер {{ randomList | random }}</p>
                        <p class="question-text">{{ question.text }}</p>
                    </div>
                    <div class="question-stamps">
                        <img src="{% static 'platform/img/test-theme-1/integrity.png' %}" width="170px" alt=""
                            id="question-integrity">
                        <img src="{% static 'platform/img/test-theme-1/privacy.png' %}" width="170px" alt=""
                            id="question-privacy">
                        <img src="{% static 'platform/img/test-theme-1/access.png' %}" width="170px" alt=""
                            id="question-access">
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselQuestions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselQuestions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <input type="submit">
    </form>
    <div class="stamps">
        <div class="cross-stamp" id="clear-btn">
            <img src="{% static 'platform/img/test-theme-1/cross.png' %}" width="135px" alt="">
        </div>
        <div class="integrity-stamp" id="integrity-btn">
            <img src="{% static 'platform/img/test-theme-1/integrity.png' %}" width="170px" alt="">
        </div>
        <div class="privacy-stamp" id="privacy-btn">
            <img src="{% static 'platform/img/test-theme-1/privacy.png' %}" width="170px" alt="">
        </div>
        <div class="access-stamp" id="access-btn">
            <img src="{% static 'platform/img/test-theme-1/access.png' %}" width="170px" alt="">
        </div>

    </div>

</div>
{% endblock content %}

{% block scriptLoad %}
<script src="{% static 'platform/js/test-theme-1/script.js' %}"></script>
{% endblock scriptLoad %}