{% extends 'platform/base.html' %}
{% load static %}

{% block loadStyles %}
<link rel="stylesheet" href="{% static 'platform/css/login/style.css' %}">
{% endblock loadStyles %}

{% block content %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal text-center">Вход в аккаунт</h1>

    <div class="form-floating">
        <input type="text" class="form-control" id="id_username" placeholder="Логин" name="username">
        <label for="id_username">Логин</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="id_password" placeholder="Пароль" name="password">
        <label for="id_password">Пароль</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
</form> 
{% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
      {% comment %} <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
    
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    </table>
    
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>   {% endcomment %}
{% endblock content %}